# ==============================
# Системные и IDE файлы
# ==============================
.git/
.venv/
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# ==============================
# Python cache
# ==============================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==============================
# Логи 
# ==============================
logs/

# ==============================
# Конфиги и переменные окружения
# ==============================
local.env

# ==============================
# Сборочные артефакты
# ==============================
dist/
build/
*.egg-info/

# ==============================
# Тесты — в продакшене не нужны
# ==============================
# Если multistage build — можно не копировать
tests/

# ==============================
# Только если run.py и Makefile не используются в образе
# ==============================
# Makefile
# run.py
